body {
    margin: 0;
    padding: 0;
    background-color: #d6b4de;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23ebc4eb' fill-opacity='0.49'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    align-items: center;

}
section{
    background-color: aliceblue;
    color: #0008;
    font-weight: 300;/**/
    padding: 1rem;
    margin: 1rem;
    width: 70%;
    border-radius: 0.5rem;

}
section{
    background-color: aliceblue;
    color: #0008;
    font-weight: 300;/**/
    padding: 1rem;
    margin: 1rem;
    width: 70%;
    border-radius: 0.5rem;
}
body{
    margin: 0;
    padding: 0;
    background-color: antiquewhite;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23cbcfad' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
    display: flex;
    flex-direction: column;
    align-items: center
    font-weight 100;

}
section{
    background-color: aliceblue;
    color: #0008;
    font-weight: 300;
    padding: 1rem;
    margin: 1rem;
    width: 70%;
    border-radius: 0.5rem;
}