
body{
    margin: 0;
    background-color: #22222c;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}


header,
main,
footer{
    width: 100%;
    max-width: 1000px;
    text-align: center;
}


.equipo{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.card,
.perfil-card{
    background-color: #1e1e1e;
    color: white;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255,255,255,0.08);
}

.card img,
.perfil-card img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}


button{
    background: #3b82f6;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    cursor: pointer;
}

button:hover{
    background: #2563eb;
}

details{
    background: #1e1e1e;
    margin: 10px auto;
    padding: 10px;
    border-radius: 8px;
    max-width: 600px;
}


footer{
    margin-top: 30px;
    padding: 20px;
}
.carga{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px 0;
}

.loader{
    width: 60px;
    height: 60px;
    border: 8px solid #333;
    border-top: 8px solid #3b82f6;
    border-radius: 50%;
    animation: girar 1s linear infinite;
}

@keyframes girar{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}
.card{
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.8s ease forwards;
}

.card:nth-child(1){
    animation-delay: 0.2s;
}

.card:nth-child(2){
    animation-delay: 0.4s;
}

.card:nth-child(3){
    animation-delay: 0.6s;
}

@keyframes fadeInUp{
    from{
        opacity: 0;
        transform: translateY(20px);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.botones{
    order: 5;
}

.faq{
    order: 4;
}

.carga{
    order: 6;
}